# Visual Studio files
*.ncb
*.pdb
*.user
*.suo
*.ipch
*.opensdf
*.sdf
*.ilk

# Build folders
build
libs/pugixml/build
libs/pugixml/scripts/vs2010
libs/pugixml/scripts/vs2013
libs/pugixml/scripts/vs2015
source/project/Debug
source/project/Release
source/project/.vs