# Visual Studio files
*.ncb
*.pdb
*.user
*.suo
*.ipch
*.opensdf
*.sdf
*.ilk

# Binaries
/bin/*.exe
/bin/*.dll

# Build folders
cmake-*/
build-*/
buildvs/
libs/pugixml/build
libs/pugixml/scripts/vs2010
libs/pugixml/scripts/vs2013
libs/pugixml/scripts/vs2015
.idea/
source/project/Debug
source/project/Release
source/project/.vs