# Visual Studio files
*.ncb
*.pdb
*.user
*.suo
*.ipch
*.opensdf
*.sdf
*.ilk

# Build folders
source/libs/pugixml/scripts/vs2010
source/libs/pugixml/scripts/vs2013
source/libs/pugixml/scripts/vs2015
source/project/Debug
source/project/Release
source/project/.vs
ActivityMonitorDLL/Debug
ActivityMonitorDLL/Release